body {
    margin: 0;
    padding: 25px;
}

.top-container {
    border: solid black 3px;
    height: 25vh;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    /* position: relative; */
}

.purple-box {
    background-color: rgb(152, 54, 218);
    height: 150px;
    width: 35px;
    display: inline-block;
    margin-right: 25px;
    /* position: absolute;
    top: 5px;
    left: 1px; */
    position: relative;
    top: 10px;
    left: 8px;
}

.green-box {
    background-color: rgb(4, 134, 4);
    height: 22vh;
    width: 375px;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    top: 10px;
    left: 20px;
}

.blue-circle {
    background-color: rgb(117, 230, 230);
    height: 20vh;
    width: 15vw;
    display: inline-block;
    position: relative;
    
    left: 35px;
    border-radius: 50%;
}

.cream-container {
    background-color: rgb(255, 255, 255);
    height: 28vh;
    width: 90%;
    margin: auto;
    padding: 30px;
    border: dotted black 3px;
    box-sizing: border-box;
    margin-top: 20px;
}

.cream-box {
    background-color: rgb(255, 242, 182);
    height: 20vh;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    box-shadow: 5px 5px 5px #2c2c2c;
}

.bottom-container {
    border: solid gray 1px;
    box-shadow: 3px 3px 5px gray;
    height: 35vh;
    width: 55%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    margin-top: 30px;

}

p {
    font-size: 30px;
    font-weight: bold;
    color: navy;
    letter-spacing: 10px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    margin-top: 125px;
}