body {
    margin: 0;
    padding: 25px;
}

.top-container {
    border: solid black 3px;
    height: 100px;
    width: 90%;
    margin: auto;

}

#purple-box {

}

#green-box {
     

}

#blue-circle {

}

.mid-container {

}

#yellow-box {
    border: 
}

.bottom-container {
    border: solid black 1px;
    height: 250px;
    width: 60%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

#greeting-box {
font-size: 30px;
font-weight: bold;
color: navy;
height: 50px;
}