body, html {
    margin: 0;
    padding: 0;
  }

  .top-left-corner {
    height: 75px;
    width: 75px;
    background-color: rgb(82, 133, 150);
    
}

.top-gray {
    height: 100px;
    width: 100%;
    background-color: gray;

}


.white-article {
    height: 300px; 
    width: 100%;

}

.blue-row {
    height: 100px;
    width: 100%;
    background: rgb(82, 133, 150);

}

.cyan-row {
    height: 100px; 
    width: 100%;
    background-color: cyan;

}

.yellow-green-row {
    height: 100px; 
    width: 100%;
    background-color: yellowgreen;
}

.yellow-row {
    height: 100px;
    width: 100%;
    background-color: yellow;
}
