body, html {
    margin: 0;
    padding: 0;
  }

  .top-left-corner {
    height: 100px;
    width: 100px;
    background-color: rgb(66, 164, 230);
    position: relative;
    top: 17px;
    left: 38px;
}

.top-gray {
    height: 14.5vh;
    width: 100%;
    background-color: rgb(184, 184, 184);

}


.white-article {
    height: 27vh;
    width: 100%;
    
}

.text {
    width: 70%;
    text-align: left;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 39, 39);
    position: relative;
    top: 70px;
    left: 260px;
}


.blue-row {
    height: 14.5vh;
    width: 100%;
    background: rgb(66, 164, 230);

}

.cyan-row {
    height: 14.5vh;
    width: 100%;
    background-color: rgb(6, 255, 222);

}

.yellow-green-row {
    height: 14.5vh;
    width: 100%;
    background-color: rgb(187, 228, 106);
}

.yellow-row {
    height: 14.5vh;
    width: 100%;
    background-color: rgb(255, 238, 0);
}
