body, html {
    margin: 0;
    padding: 0;
  }

.top-gray {
    height: 100px;
    width: 100vw;
}

.white-article {
    height:
    width: 
}

.blue-row {
    height:
    width: 
}

.cyan-row {
    height:
    width: 
}

.yellow-green-row {
    height:
    width: 
}
